  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <%= image_tag 'HELPIFUL.png', size: "100" %>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><%= link_to 'Home', root_path, class: 'nav-link px-2 text-white'%></li>
          <li><a href="#" class="nav-link px-2 text-white">About us</a></li>
        </ul>

        <%# <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form> %>


        <%# <%= form_tag requests_path, method: :get do %>
            <%# <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for requests"
            %>
            <%# <%= submit_tag "Search", class: "btn btn-primary" %>
        <%# <% end %>




        <div class="text-end">
          <% if current_user %>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-light me-2'%>
          <% else %>
          <%= link_to 'Log in', new_user_session_path, class: 'btn btn-outline-light me-2'%>
          <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-warning'%>
          <% end %>
        </div>
      </div>
    </div>
  </header>
