<div class="form">
    <%= simple_form_for(@request) do |f| %>
        <div class="form-inputs">
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :city, collection: Request::CITIES %>
          <%= f.input :address %>
          <%= f.input :category, collection: Request::CATEGORIES %>
          <%= f.input :price %>
          <%= f.input :photo, as: :file %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: "btn btn-warning" %>
        </div>
    <% end %>
</div>
