
<div class="profile-container" data-controller="profiles">
  <div class="profile-menu">
    <p> <%= link_to "Make a request", new_request_path %> </p>
    <p> <%= link_to "My requests", profile_path %> </p>
    <p> <%= link_to "Go back", profile_path %> </p>
    <%# <p> <%= link_to "Update my avatar" profile_path</p> %>
  </div>

  <div class="profile-content">
    <div class="mx-5 mb-5">
      <h1>Edit your request</h1>
      <%= render 'form', request: @request %>
    </div>
  </div>
</div>
