  <div id="banner">
    <h1>Here are all the requests in</h1>
    <h3>Take a look at them and choose a task</h3>
    <p>
    <span data-controller="typed-js"></span>
  </p>
  </div>

  <div class="container">
    <div class="row">
      <% @requests.each do |request| %>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card-trip">
            <%= image_tag "HELPIFUL.png", height: 250, crop: :fill %>
            <ul>
              <div class="card active">
                <li class="pack"><%= link_to "#{request.title}", request_path(request), class: "card-title text-black" %></li>
                <li class="pack"><%= link_to "#{request.price}€", request_path(request), class: "card-title text-black" %></li>
                <li class="pack"><%= link_to "#{request.city}", request_path(request), class: "card-title text-black" %></li>
              </div>
            </ul>
          </div>
        </div>
      <% end %>
    </div>

    <%= link_to "Back to Homepage", root_path, class: "btn btn-light mt-3 mb-3" %>
  </div>
