

<div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <%= link_to "Make a request", new_request_path %><br>
        <%= link_to "My requests", profile_path %><br>
        <%= link_to "My offers", "#" %><br>
        <%= link_to "My messages", "#" %>
      </div>



      <div class="col-12 col-lg-8">
        <h1>Your request</h1>
         <%= render 'form', request: @request %>
     </div>
  </div>
</div>
