
<div class="banner">
  <div class="search-bar">
    <%= simple_form_for :search, url: requests_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :category, collection: Request::CATEGORIES %><%= f.input :city, collection: Request::CITIES %><%= f.submit "Search", class: "btn btn-warning" %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="cards-category-container" data-controller="category">
    <% Request::CATEGORIES.each do |category| %>
      <%= link_to requests_path(params: { search: {category: category} }) do %>
        <div class="card-trip">
          <% if Rails.application.assets.find_asset("#{category}.jpg").nil? %>
          <%= image_tag("HELPIFUL.png") %>
          <% else %>
          <%= image_tag("#{category}.jpg") %>
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= category %></h2>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
